.contentc{
    background-image: url('https://image.freepik.com/free-vector/yellow-taxi-car-cab-road-modern-city-background_48369-17125.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    background-position: center center;
    min-height: 100vh;
}
.form{
    justify-content: center;
    align-content: center;
    margin: auto;
    display: block;
    padding-left: 120px;
    padding-top: 40px;
    padding-right: 120px;
}

.form .formcontent{
    background-color:black;
    color: yellow;
    opacity: 0.7;
}

::placeholder{
    color: darkblue;
}

/* IF USER IS ALREADY LOGGED IN , THE CSS IS */

.backgroundimage{
    background-image: url('https://www.taxiinvaranasi.com/images/slider/slider-bg2.jpg');
    background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  background-position: center center;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    top: 50%;
    font-size: x-large;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
}

.col img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15%;
}
.col .card-body{
    text-align: center;
}
