<div *ngIf="(adminUser == undefined && customerUser == undefined && driverUser == undefined) || (adminUser !== undefined && driverUser == undefined && customerUser == undefined) || (customerUser !== undefined && driverUser == undefined && adminUser == undefined) || (driverUser !== undefined && adminUser == undefined && customerUser == undefined)">
<div class="backgroundimage">
    <div class="container">
        <div class="card text-center col d-flex justify-content-center mx-auto">
            <div class="card-body">
            <h5 class="card-title">Welcome To Pick Me Cabs</h5>
            <p class="card-text">Your Very Own Cab Service,<br> Ready to pick you from your location <br> & <br> Drop at your destination, in the most affordable price</p>
            <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="aboutus" id="aboutus">
        <div class="card-body">
            <h1 class="card-title text-center">About Us</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">About Pick Me Cabs</h5>
          <p class="card-text">PickMeCab is India’s largest mobility platform and one of the world’s largest ride-hailing companies, serving 250+ cities across India, Australia, New Zealand, and the UK. The Ola app offers mobility solutions by connecting customers to drivers and a wide range of vehicles across bikes, auto-rickshaws, metered taxis, and cabs, enabling convenience and transparency for hundreds of millions of consumers and over 1.5 million driver-partners.

            PickMeCab's core mobility offering in India is supplemented by its electric-vehicle arm, PickMeCab Electric; India’s largest fleet management business, PickMeCab Fleet Technologies and PickMeCab Skilling, that aims to enable millions of livelihood opportunities for India's youth. With its acquisition of Ridlr, India’s leading public transportation app and investment in Vogo, a dockless scooter sharing solution, PickMeCab is looking to build mobility for the next billion Indians. PickMeCab also extends its consumer offerings like micro-insurance and credit led payments through PickMeCab Financial Services and a range of owned food brands through India’s largest network of kitchens under its Food business.
            
            PickMeCab was founded in Dec 2020 by Jay Gupta with a mission to build mobility for a billion people.</p>
        </div>
        <!--  -->
        <div class="card-body">
            <h5 class="card-title">Why Ride With PickMeCab?</h5>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6dWnoyU7N-LIHaDPxvQdYPN3be8gjXTrTUA&usqp=CAU" class="card-img-top container" alt="..." >
                <div class="card-body">
                  <h5 class="card-title">Cabs for Every Pocket</h5>
                  <p class="card-text container">From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every pocket</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU6RykpMVxe3yFkJMV8_b_7NOWQ6byXq8F-A&usqp=CAU" class="card-img-top container" alt="..." style="width: 43%;">
                <div class="card-body">
                  <h5 class="card-title">Secure and Safer Rides</h5>
                  <p class="card-text container">Verified drivers, an emergency alert button, and live ride tracking are some of the features that we have in place to ensure you a safe travel experience.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <img src="https://pbs.twimg.com/media/C_dtodpVoAAHs0P.jpg" class="card-img-top container" alt="..." style="width: 45%;" >
                <div class="card-body">
                  <h5 class="card-title">In Cab Entertainment</h5>
                  <p class="card-text">Play music, watch videos and a lot more with PickMeCab Play! Also stay connected even if you are travelling through poor network areas with our free wifi facility.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <img src="https://1.bp.blogspot.com/-mtGshUTB-ow/XgscOc02npI/AAAAAAABTKA/B4ws9cjGKIAKETvBGIWtM6TMTEi0W8YxACLcBGAsYHQ/s1600/paymaya-mobile-number-payment-1.png" class="card-img-top container" alt="..." style="width: 45%;">
                <div class="card-body">
                  <h5 class="card-title">Cashless Rides</h5>
                  <p class="card-text">Now go cashless and travel easy. Simply recharge your PickMeCab money or add your credit/debit card to enjoy hassle free payments.

                </p>
                </div>
              </div>
            </div>
          </div>
        <!--  -->

        <!-- 2nd -->
        
        <!-- 2nd -->
        <div class="card-body">
            <h5 class="card-title">About Team</h5>
        </div>
        <div class="mb-3 card-body">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./../../assets/Jay Gupta Snap.jpg" alt="..." style="width: 50%; border-radius: 50%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Jay Gupta
                    <p class="card-text"><small class="text-muted">Designer</small></p>
                  </h5>
                  <p class="card-text">Jay Gupta has completed his engineering from Manipal University Jaipur with specialisation in Computer Science & Engineering. He has a great interest in developing softwares to help people ease their work.
                      Other than this he also is passionate about Technologies and new invention. His goal in making the cab booking system easy for everyone.
                      He aims to make this portal work worldwide and make the country proud in front of the world. 
                      
                  </p> 
                  <p class="card-text">Jay Gupta is currently working as a software engineer at a corporate firm, i.e MNC</p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <hr>
      <!-- Contact Us Section -->
      <div class="contactus" id="contactus" style="display: flex; flex-direction: column;">
        <div class="formcontent">
            <div class="card-body">
                <h1 class="card-title text-center">Contact Us</h1>
            </div>
            <div class="mb-3 col-md-4">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="mb-3 col-md-4">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="mb-3 col-md-4">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
            </div>
            <div class="mb-3 col-md-4">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write the query here"></textarea>
            </div>
            <div class="mb-3 col-md-4">
                <button type="submit" style="margin-left: 40%;
                justify-content: center; align-items: center;" class="btn btn-primary" >Send</button>
            </div>
        </div>

        <!--  -->
        <br>
        <div class="mb-3 cus container-fluid">
            <div class="row g-0" style="height: 20%;">
              <div class="col-md-4">
                <img src="https://i.pinimg.com/originals/20/b6/86/20b6860e2f5560e6fae086a51051bdbc.gif" alt="..." style="width: 20%; background-color: skyblue;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">If Any further doubt, you can call us at +919660222777</h5>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <!-- 
          Footer starts
       -->
       
       <hr>
       <footer class="bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="color: white;">
          © 2020 Copyright:
          JayGupta's Creation
        </div>
        <!-- Copyright -->
      </footer>

      <!-- 
          Footer ends
       -->
</div>
<div>
</div>
</div>